.vscode/
__pycache__/
nohup.out

weights/
weights/*
weights/BigDiscriminator.pt
weights/BigEmbedder.pt
weights/BigGenerator.pt
weights/Discriminator.pt
weights/Embedder.pt
weights/Generator.pt
weights/vgg_face_dag.pth

weights_beluga/
weights_helios/

runs/
runs_beluga/
runs_helios/

dataset/
CustomDataset/

vox2_test_mp4.zip


