vox2_test_mp4.zip

*/vgg_face_dag.pth
weights/vgg_face_dag.pth
weights_beluga/vgg_face_dag.pth
weights_helios/vgg_face_dag.pth

.vscode/

dataset/

CustomDataset/

runs/

runs_beluga/

runs_helios/

__pycache__/
